[Unit]
Description=Rclone mount for Google Drive
AssertPathIsDirectory=%h/.remote/GoogleDrive
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
	GoogleDrive: %h/.remote/GoogleDrive \
	--config=%h/.config/rclone/rclone.conf \
	--vfs-cache-mode writes \
	--allow-other \
	--log-level INFO
ExecStop=/bin/fusermount -u %h/.remote/GoogleDrive
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
